.login {
  padding: 100px 20px;
  width: 50%;
  margin: auto;
}

.login .intro-text{
  padding-bottom: 20px;
}

.btn{
  margin-top: 20px;
}

@media screen and (max-width: 850px) {
  .login {
    padding: 100px 20px;
    width: 100%;
    margin: auto auto;
  }
  .login .comp-signup{
    width: 90%;
  }
}
