.student{
   display: flex;
   padding-top: 80px;
}
.student .student-profile{
margin-left: 30%;
width: 100%;
}
.student .dashboard {
  background-color: #333855;
  color: #fff;
  width: 25%;
  margin: 10px;
  border-radius: 5px;
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 20px 10px;
  position: fixed;
}
.student .dashboard i {
  font-size: 1.6rem;
  padding: 0 10px;
}

.student .dashboard li {
  cursor: pointer;
}

.student .cv-document{
   display: flex;
}
@media screen and (max-width: 850px) {
   .student .student-profile{
      margin-left: 90px;
      width: 100%;
      }
  .student .dash-icon {
    display: block;
    color: #333855;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0 5px;
  }
  .student .dashboard .text {
    display: none;
  }
  .student .dashboard {
    width: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
  }
  .student .dashboard i {
    font-size: 1.6rem;
  }
}
