.navbar{
   width: 100%;
   display: flex;
   border-bottom: 1px solid #33385515;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: space-evenly;
   position: fixed;
   z-index: 1;
   background-color: #fff;
}
.navbar .logo{
   width: 12rem;
}

.navbar .logo img{
   width: 100%;
}

.navbar .btns button {
   width: 100px;
   padding: 5px;
   color: #384555;
   font-size: 1.1rem;
   background-color: #fff;
   border-radius: 4px;
   border: 1px solid #384555;
   cursor: pointer;
   margin: 0px 5px;
 }

 .ai-btn{
   background-color: #384555;
   color: #fff;
   font-size: 1.1rem;
   padding: 5px;
   border-radius: 4px;
   margin: auto 5px;
 }