.welcome {
  /* padding: 1rem; */
  text-align: center;
  height: 100vh;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.welcome-logo {
  width: 100%;
  margin-left: 50%;
  transform: translate(-50%);
  z-index: 1;
  height: 14rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.welcome-logo .btns button {
  width: 100px;
  padding: 5px;
  color: #384555;
  font-size: 1.1rem;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #384555;
  cursor: pointer;
  margin: 25px 5px;
}

.welcome-logo img {
  width: 300px;
}

.welcome .home-text {
  padding: 2rem;
  font-size: 1.1rem;
  /* font-size: 1.2rem; */
}
