.navbar{
   width: 100%;
   display: flex;
   border-bottom: 1px solid #33385515;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   position: fixed;
   z-index: 1;
   background-color: #fff;
}
.navbar .logo{
   width: 12rem;
}

.navbar .logo img{
   width: 100%;
}